{% extends "::base.html.twig" %}

{% block title %}AppBundle:Dev:getIdolResources{% endblock %}

{% block body %}
<h1>Welcome to the Dev:getIdolNews page</h1>

	<div>
		{{ news|json_encode() }}
	</div>
{% endblock %}
