{% extends "::base.html.twig" %}

{% block title %}AppBundle:Dev:getIdolResources{% endblock %}

{% block body %}
<h1>Welcome to the Dev:getIdolResources page</h1>

	<div>
		{{ result|escape }}
	</div>
{% endblock %}
